In [1]:
import pandas as pd
import numpy as np

In [2]:
tp=pd.read_csv('/home/mako0970/RTpaper/data/Sandy_search_tweetsFull.csv',sep=';',\
iterator=True, chunksize=1000,usecols=['id','username','date','coordinates', 'geo_enabled'])
data=pd.concat(list(tp), ignore_index=True)

In [3]:
len(data)

22159690

In [8]:
len(data.coordinates[data.coordinates!='0'])

272876

In [9]:
Out[8]/float(Out[3])

0.012314071180598645

In [13]:
geloc_users=data.username[data.coordinates!='0']

In [17]:
len(geloc_users.unique())

163629

In [20]:
len(data.username.unique())

8174979

In [21]:
Out[17]/float(Out[20])

0.020015831233327938

In [23]:
data.date

0           2012-10-25 17:20:44
1           2012-10-25 17:20:49
2           2012-10-25 17:20:50
3           2012-10-25 17:20:51
4           2012-10-25 17:21:26
5           2012-10-25 17:23:26
6           2012-10-25 17:23:48
7           2012-10-25 17:24:59
8           2012-10-25 17:25:57
9           2012-10-25 17:34:06
10          2012-10-25 17:35:11
11          2012-10-25 17:35:28
12          2012-10-25 17:35:31
13          2012-10-25 17:35:57
14          2012-10-25 17:36:11
15          2012-10-25 17:37:38
16          2012-10-25 17:37:46
17          2012-10-25 17:37:50
18          2012-10-25 17:38:12
19          2012-10-25 17:39:04
20          2012-10-25 17:39:12
21          2012-10-25 17:39:39
22          2012-10-25 17:42:15
23          2012-10-25 17:44:06
24          2012-10-25 17:44:07
25          2012-10-25 17:44:21
26          2012-10-25 17:45:18
27          2012-10-25 17:45:53
28          2012-10-25 17:46:43
29          2012-10-25 17:48:09
                   ...
22159660    2013-04-05 16:00:48
22159661    2013-04-05 11:39:42
22159662    2013-04-05 15:14:43
22159663    2013-04-05 02:38:43
22159664    2013-04-05 03:43:48
22159665    2013-04-05 13:35:21
22159666    2013-04-05 02:41:37
22159667    2013-04-05 02:41:53
22159668    2013-04-05 16:06:45
22159669    2013-04-05 02:19:24
22159670    2013-04-05 03:03:14
22159671    2013-04-05 17:03:38
22159672    2013-04-05 02:45:43
22159673    2013-04-05 02:38:14
22159674    2013-04-05 02:43:43
22159675    2013-04-05 14:12:54
22159676    2013-04-05 18:29:23
22159677    2013-04-05 02:42:11
22159678    2013-04-05 20:18:50
22159679    2013-04-05 01:24:56
22159680    2013-04-05 02:05:15
22159681    2013-04-05 14:13:14
22159682    2013-04-05 02:42:26
22159683    2013-04-05 03:03:06
22159684    2013-04-05 16:08:42
22159685    2013-04-05 02:42:52
22159686    2013-04-05 14:10:36
22159687    2013-04-05 16:03:27
22159688    2013-04-05 00:52:35
22159689    2013-04-05 02:39:29
Name: date, Length: 22159690, dtype: object

In [24]:
data['date_obj']=pd.to_datetime(data.date, format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [25]:
data.date_obj

0          2012-10-25 17:20:44
1          2012-10-25 17:20:49
2          2012-10-25 17:20:50
3          2012-10-25 17:20:51
4          2012-10-25 17:21:26
5          2012-10-25 17:23:26
6          2012-10-25 17:23:48
7          2012-10-25 17:24:59
8          2012-10-25 17:25:57
9          2012-10-25 17:34:06
10         2012-10-25 17:35:11
11         2012-10-25 17:35:28
12         2012-10-25 17:35:31
13         2012-10-25 17:35:57
14         2012-10-25 17:36:11
15         2012-10-25 17:37:38
16         2012-10-25 17:37:46
17         2012-10-25 17:37:50
18         2012-10-25 17:38:12
19         2012-10-25 17:39:04
20         2012-10-25 17:39:12
21         2012-10-25 17:39:39
22         2012-10-25 17:42:15
23         2012-10-25 17:44:06
24         2012-10-25 17:44:07
25         2012-10-25 17:44:21
26         2012-10-25 17:45:18
27         2012-10-25 17:45:53
28         2012-10-25 17:46:43
29         2012-10-25 17:48:09
                   ...
22159660   2013-04-05 16:00:48
22159661   2013-04-05 11:39:42
22159662   2013-04-05 15:14:43
22159663   2013-04-05 02:38:43
22159664   2013-04-05 03:43:48
22159665   2013-04-05 13:35:21
22159666   2013-04-05 02:41:37
22159667   2013-04-05 02:41:53
22159668   2013-04-05 16:06:45
22159669   2013-04-05 02:19:24
22159670   2013-04-05 03:03:14
22159671   2013-04-05 17:03:38
22159672   2013-04-05 02:45:43
22159673   2013-04-05 02:38:14
22159674   2013-04-05 02:43:43
22159675   2013-04-05 14:12:54
22159676   2013-04-05 18:29:23
22159677   2013-04-05 02:42:11
22159678   2013-04-05 20:18:50
22159679   2013-04-05 01:24:56
22159680   2013-04-05 02:05:15
22159681   2013-04-05 14:13:14
22159682   2013-04-05 02:42:26
22159683   2013-04-05 03:03:06
22159684   2013-04-05 16:08:42
22159685   2013-04-05 02:42:52
22159686   2013-04-05 14:10:36
22159687   2013-04-05 16:03:27
22159688   2013-04-05 00:52:35
22159689   2013-04-05 02:39:29
Name: date_obj, Length: 22159690, dtype: datetime64[ns]

In [26]:
temporal=data[(data.date_obj>=pd.to_datetime('2012-10-13 00:00:00')) & (data.date_obj<=pd.to_datetime('2012-11-30 23:59:59'))]

In [27]:
len(temporal.username[temporal.coordinates!='0'].unique())

107240

In [28]:
len(temporal.usernameername.unique())

5888758

In [29]:
107240.0/5888758

0.018210970802332173